<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Formazione scolastica ed extra </strong></h4>

                <ul class="timeline">
                    <li>
                        <h5><strong>Diploma di maturità</strong> </h5>
                        <em class="font-italic">Professionale alberghiero<br> I.I.S Paolo Baffi, Rm</em>
                        <p class="year p-2 d-flex justify-content-center">2014 - 2019 (5 anni)</p>
                    </li>
                    <li>
                        <h5>Corso programmatore</h5>
                        <em class="font-italic">Full-Stack Developer <br> Customer management it, Rm</em>
                        <p class="year p-2 d-flex justify-content-center">2020 - 2021 (6 mesi)</p>
                    </li>
                    <li>
                      <h5>Corso Java EE Developer</h5>
                      <em class="font-italic">Udemy <br>Online</em>
                      <p class="year p-2 d-flex justify-content-center">2020 (3 mesi)</p>
                  </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Esperienze</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>Apprendista programmatore-junior</h5>
                        <em>Customer Management It S.R.L., Trastevere, Rm</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2021-In corso</p>
                            <button (click)="detailOnClick('apprendistato_detail')" type="button" class="btn btn-primary">
                            +Dettagli</button>
                        </div>
                        <p *ngIf="apprendistato">
                          <Strong>In lavorazione</Strong>
                        </p>
                    </li>
                    <li>
                        <h5>Stage programmatore Full-Stack</h5>
                        <em>Customer Management It S.R.L., Trastevere, Rm</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2021 - 2021 (2 mesi)</p>
                            <button (click)="detailOnClick('stage_detail')" type="button" class="btn btn-primary">
                                +Dettagli</button>
                        </div>
                        <p *ngIf="stage">
                            <strong>Mi occupavo di : </strong>
                            <br>
                            Sviluppo di un applicazione server/client per la gestione dei bandi delle gare di appalto con Db MySql.
                            <strong>Competenze acquisite :</strong>
                            Collegamento server con Db MySql,uso dell'archittettura MVC per il server,implementazioni
                            sever/client di CRUD.
                            <br>
                            <strong>
                             <br>
                              Teconologie utilizzate:</strong>
                             JAVA , Spring boot, Angular , Angular Materials, MySql
                        </p>
                    </li>
                    <li>
                        <h5>Responsabile di magazzino</h5>
                        <em>Dear society A.R.L, Pomezia, Rm</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2018 - 2020 (2 anni)</p>
                            <button (click)="detailOnClick('magazzino_detail')" type="button" class="btn btn-primary">+Dettagli</button>
                        </div>
                        <p *ngIf="magazzino">
                            <strong>Mi occupavo di :</strong>
                            Spedizione merci.
                            Sviluppo pratiche per la spedizione.
                            Responsabile dello scarico e carico merci.
                            Responsabile del settore vestiario (dal 14/07/19 con conseguente
                            passaggio da contratto a tempo determinato a tempo
                            indeterminato.)
                            <br>
                            <strong>Competenze acquisite:</strong>
                              Capacita comunicative migliorate in quanto parlavo direttamente con i venditori e clienti.
                              Ottime capacità di problem solving.
                              Capacità di adattamento ad ambienti differenti.
                              Predisposizione per il lavoro in team, in quanto mi occupavo di gestire il lavoro quotidiano di
                              8-9 persone.
                            <br>
                          <strong>Strumenti usati : </strong>
                            Excel

                        </p>
                    </li>
                    <li>
                        <h5>Cameriere</h5>
                        <em>Braceria pugliese, Fiumicino, Rm</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2015-2019 (4 anni)</p>
                            <button (click)="detailOnClick('cameriere_detail')" type="button" class="btn btn-primary">+Dettagli</button>

                        </div>
                        <p *ngIf="cameriere">
                            <strong>Mi occupavo di :</strong>
                            Accoglienza alla clientela e offerta di un servizio professionale,
                            cordiale e competente.
                            Preparazione e servizio ai tavoli, gestione delle comande e della
                            sala, pulizia dei locali di servizio.
                            Monitoraggio della sala per verificare la disponibilità dei posti a
                            sedere e rispondere tempestivamente alle richieste degli ospiti.
                            Stagioni estive (full time) : Responsabile della sala e gestione del
                            reparto Carne.
                            Stagioni invernali (weekend-part time)<br>
                            <strong>Competenze acquisite:</strong>
                            <br>
                              Ottime competenze organizzative e di comunicazione.
                              Abituato a lavorare sotto pressione.
                          </p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Lingue</strong></h4>
                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/italy-flag.png" width="20"
                                    alt="drapeau de la france"><strong> Italiano </strong> <i class="val">
                                    Attuale</i></span>
                        </div>

                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/united-kingdom-flag.png" width="20"
                                    alt="drapeau du royaume uni"><strong>Inglese</strong> <i class="val"> Buon
                                    livello</i></span>
                        </div>



                    </div>
                </div>
                <div class="container row">
                    <div class="mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Hobby e interessi :</strong></h4>
                        <div class="noProgress langue">
                            <span>
                              <strong> Sport :</strong>
                              <br>
                                <fa-icon [icon]="calcioBallIcon"></fa-icon>
                                <i class="val"> 3 anni di calcio</i>
                                <br>
                                <fa-icon [icon]="tennisBallIcon"></fa-icon>
                                <i class="val"> 10 anni di tennis</i>
                             </span>
                        </div>

                        <div class="noProgress langue">
                            <span>
                              <strong> Viaggi :</strong>
                              <br>
                                <fa-icon [icon]="planeIcon"></fa-icon><i class="val">
                                    Austria, Malta, Grecia, Portogallo</i>
                            </span>
                        </div>

                        <div class="noProgress langue">
                            <span>
                              <strong> Videogame : </strong>
                              <br>
                                <fa-icon [icon]="gameIcon"></fa-icon><i class="val">
                                  Horror,Strategia,Avventura</i>
                            </span>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
